<form [formGroup]="formGroup" (ngSubmit)="guardar()">
   
    <div>
        <label>Cantidad</label>
        <input formControlName="cantidad" type="number"/>
    </div>
    <div>
        <label>Interes</label>
        <input formControlName="interes" type="number"/>
    </div>
    <div>
        <label>Nota</label>
        <input formControlName="nota" maxlength="255" />
    </div>

    <div>
        <label>Cuenta referencia</label>
        <select formControlName="cuentaId">
            <option value="">Selecciones</option>
            <option *ngFor="let item of ahorros" value="{{item.id}}" >{{item.nombre}}</option>
        </select>
    </div>
       
    <button type="submit">
        Guardar
    </button>
</form>