<form [formGroup]="formGroup" (ngSubmit)="guardar()">
   
    <div>
        <label>Cantidad</label>
        <input formControlName="cantidad" type="number"/>
    </div>
    <div>
        <label>Interes</label>
        <input formControlName="interes" type="number"/>
    </div>
    <div>
        <label>Nota</label>
        <input formControlName="nota" maxlength="255" />
    </div>

    <div>
        <label>Fecha incial</label>
        <select formControlName="cuentaId">
            <option></option>
        </select>
    </div>
    
    <div>
        <label>Fecha final</label>
        <input formControlName="fechaFinal" type="date"/>
    </div>

    <button type="submit">
        Guardar
    </button>
</form>