<div class="container">

    <h2 class="text-primary">Ahorros</h2>
    <hr class="text-primary" />
    <a routerLink="/ahorros/agregar">Agregar ahorro</a>
    <br />

    <div *ngIf="estaCargando" class="text-center">
        <div class="spinner-border spinner-border-sm text-primary" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        Un momento...
    </div>

    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-hover mt-5">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Tipo</th>
                <th>Cuenta padre</th>
                <th>Clabe</th>
                <th>Nota</th>
                <th>%</th>
                <th>Balance</th>
                <th></th>
            </tr>
        </thead>
        <tbody>            
            <tr *ngFor="let ahorro of ahorros">
                <td>{{ahorro.nombre}}</td>
                <td>{{ahorro.tipoDeCuenta.nombre}}</td>
                <td>
                    <a [routerLink]="['/ahorros', ahorro.cuentaDeReferenciaId, 'detalles']">
                        {{ahorro.cuentaDeReferenciaId}}
                    </a>
                </td>
                <td>{{ahorro.clabe}}</td>
                <td>{{ahorro.nota}}</td>
                <td>{{ahorro.interes}}</td>
                <td>{{ahorro.balance | currency}}</td>
                <td>
                    <a [routerLink]="['/ahorros/', ahorro.id, 'detalles']">Detalles</a> |
                    <a [routerLink]="['/ahorros/', ahorro.id, 'retiros']">Retiro</a> |
                    <a [routerLink]="['/ahorros/', ahorro.id, 'depositos']">Deposito</a> |
                    <a [routerLink]="['/ahorros/', ahorro.id, 'editar']">Editar</a> |
                    <button class="btn btn-outline-danger btn-sm" (click)="borrar(ahorro)">Borrar</button>
                </td>
            </tr>            
        </tbody>
        <tfoot>
            <tr>
                <th>Nombre</th>
                <th>Tipo</th>
                <th>Cuenta padre</th>
                <th>Clabe</th>
                <th>Nota</th>
                <th>%</th>
                <th>Balance</th>
                <th></th>
            </tr>
        </tfoot>
    </table>
</div>