<a routerLink="/ahorros/agregar">Agregar ahorro</a>
<br />
<table width="100%">
    <thead>
        <tr>
            <td>Nombre</td>
            <td>Clabe</td>
            <td>Nota</td>
            <td>%</td>
            <td>Balance</td>
            <td></td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let ahorro of ahorros">
            <td>{{ahorro.nombre}}</td>
            <td>{{ahorro.clabe}}</td>
            <td>{{ahorro.nota}}</td>
            <td>{{ahorro.interes}}</td>
            <td>{{ahorro.balance | currency}}</td>
            <td>
                <a>Detalles</a> |
                <a [routerLink]="['/ahorros/', ahorro.id, 'retiros']">Retiro</a> |
                <a [routerLink]="['/ahorros/', ahorro.id, 'depositos']">Deposito</a> |
                <a>Editar</a> |
                <a>Borrar</a>
            </td>
        </tr>
    </tbody>
</table>