<table width="100%">
    <thead>
        <tr>
            <td>Cantidad</td>
            <td>Fecha</td>
            <td>Interes</td>
            <td></td>
        </tr>        
    </thead>
    <tbody>
        <tr *ngFor="let item of historial">
            <td>{{item.cantidad | currency}}</td>
            <td>{{item.fechaDeRegistro | date }}</td>
            <td>{{item.interes }}</td>
            <td>
                <a routerLink="/historialDeApartados/agregar">Agregar</a>
            </td>
        </tr>
    </tbody>
</table>