<div class="container">
    <h2 class="text-primary">Versiones</h2>
    <a routerLink="/versiones/agregar">Agregar</a>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Fecha inicial</th>
                <th>Fecha final</th>
                <th></th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>Nombre</th>
                <th>Fecha inicial</th>
                <th>Fecha final</th>
                <th></th>
            </tr>
        </tfoot>
        <tbody>
            <tr *ngIf="estaCargando">
                <td colspan="8">
                    <div class="text-center">
                        <div class="spinner-border spinner-border-sm text-primary" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                        Un momento...
                    </div>
                </td>
            </tr>

            <ng-container *ngIf="!estaCargando">
                <tr *ngFor="let item of versiones">
                    <td>{{item.nombre}}</td>
                    <td>{{item.fechaInicial | date}}</td>
                    <td>{{item.fechaFinal | date}}</td>
                    <td>
                        <a [routerLink]="['/versiones/editar',item.id]" [queryParams]="item">Editar</a> |
                        <a (click)="borrar(item)">Borrar</a> |
                        <a [routerLink]="['/versiones/', item.id, 'presupuestos']">Detalles</a>
                    </td>
                </tr>
            </ng-container>
        </tbody>
    </table>
</div>