<form [formGroup]="formGroup" (ngSubmit)="guardar()">
    <div>
        <label>Tipo de cuenta</label>
        <select formControlName="tipoDeCuentaId">
            <option value="">Seleccione</option>
            <option *ngFor="let item of tipoDeCuentas" value="{{item.id}}">{{item.nombre}}</option>
        </select>
    </div>
    <div>
        <label>Nombre</label>
        <input formControlName="nombre" />
    </div>
    <div>
        <label>Clabe</label>
        <input formControlName="clabe" />
    </div>
    <div>
        <label>Nota</label>
        <input formControlName="nota" maxlength="255" />
    </div>
    <div>
        <label>Interes</label>
        <input formControlName="interes" type="number" />
    </div>

    <div>
        <label>Fecha incial</label>
        <input formControlName="fechaInicial" type="date" />
    </div>

    <div>
        <label>Fecha final</label>
        <input formControlName="fechaFinal" type="date" />
    </div>

    <button type="submit">
        Guardar
    </button>
</form>