<div *ngIf="estaCargando" class="text-center">
    <div class="spinner-border spinner-border-sm text-primary" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
    Un momento...
</div>
<div class="container">
    <h2 class="text-info">Ahorro</h2>
    <div class="card">        
        <div class="card-body">
            <b>Nombre: </b>{{ahorro?.nombre}}
            <br/>
            <b>Tipo: </b>{{ahorro?.tipoDeCuenta?.nombre}}
            <br/>
            <b>Nota: </b>{{ahorro?.nota}}
            <br/>            
            <b>Balance: </b>{{ahorro?.balance | currency}}
            <br/>            
            <b>Fecha inicial: </b>{{ahorro?.fechaInicial | date}}
            <br/>            
            <b>Fecha final: </b>{{ahorro?.fechaFinal | date}}
            <br/>            
            <b>Interes anual: </b>{{ahorro?.interes}} % 
            <br/>            
            <b>Cantidad esperada: </b>{{ calcularCantidadEsperada() | currency}}
        </div>
    </div>
       
    <h2 class="text-info">Transacciones</h2>
    <app-lista-de-transacciones/>

    <h2 class="text-info">Proyección</h2>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Subtotal</th>
                <th>Interes</th>
                <th>Total</th>
                <th>Movimiento</th>
                <th>Fecha</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of ahorro?.calculos">
                <td>{{item.subtotal | currency}}</td>
                <td>{{item.interesCalculado | currency}}</td>
                <td>{{item.total | currency}}</td>
                
                <td *ngIf="item.transaccion == 0">{{item.transaccion | currency}}</td>
                <td *ngIf="item.transaccion < 0" class="text-danger">{{item.transaccion | currency}}</td>
                <td *ngIf="item.transaccion > 0" class="text-success">{{item.transaccion | currency}}</td>
                
                <td>{{item.fecha | date}}</td>
            </tr>
        </tbody>
    </table>

</div>