<div class="container">
    <p>
        {{ahorro?.nombre}} {{ahorro?.balance | currency}}
    </p>
    <h2 class="text-primary">Movimientos</h2>

    <!-- <a [routerLink]="['/periodos', id, 'movimientos','agregar']" [queryParams]="{versionId: versionId}">Agregar</a> -->

    <table class="table table-hover">
        <thead>
            <tr>
                <th></th>
                <th>Presupuesto</th>
                <th>Nombre</th>
                <th>Ahorro</th>
                <th>Cantidad</th>
                <th></th>                
            </tr>
        </thead>
        <tbody>
            <tr *ngIf="estaCargando">
                <td >
                    <div class="text-center">
                        <div class="spinner-border spinner-border-sm text-primary" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                        Un momento...
                    </div>
                </td>
            </tr>
            <ng-container *ngIf="!estaCargando">
                <tr *ngFor="let item of movimientos; index as index">
                    <td>{{index + 1}}</td>
                    <td>{{item.presupuesto.cantidad| currency}}</td>
                    <td>{{item.presupuesto.subcategoria.nombre}}</td>
                    <td>
                        <a [routerLink]="['/ahorros', item.presupuesto.ahorroId, 'detalles']">
                            {{item.presupuesto.ahorroId}}
                        </a>
                    </td>
                    <td>{{item.movimiento?.cantidad | currency}}</td>
                    <td>
                        <div *ngIf="item.movimiento == undefined">
                            <a [routerLink]="['/periodos', id, 'movimientos','agregar']"
                                [queryParams]="{versionId: versionId, ahorroId: item.presupuesto.ahorroId, presupuestoId: item.presupuesto.id}">Agregar</a>
                        </div>
                        <div *ngIf="item.movimiento != undefined">
                            <a>Editar</a>
                        </div>
                    </td>
                </tr>
            </ng-container>
        </tbody>
    </table>
</div>